In [5]:
%matplotlib inline

In [107]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [245]:
billboard_data = pd.read_csv("data/billboard.csv")
# The Questions is on which place the song is on the billboard for the weeks to 75 weeks

In [247]:
# I convert all (wk1, wk2, wk3) columns under one column which represents week and value for placement

billboard_data = billboard_data.melt(
    id_vars=["year", "artist", "track", "time", "date.entered"],
    var_name="week",
    value_name="placement"
)

In [249]:
# I rename the ugly Column Header to normal format to make working with it more easy

billboard_data = billboard_data.rename(columns={'date.entered': 'date_entered'})

In [251]:
# I format the week returning only the integer because week is already one Column with header specifying it is week

def format_week(week_string):
    return week_string[2:]
    
billboard_data.week = billboard_data.week.str.slice(2).astype('int64') # And i convert it into int64 type

In [253]:
# Remove the NaN Fields from all columns by default
billboard_data = billboard_data.dropna()

In [255]:
# Convert the object dt into `pandas datetime object`
# This later gives me opportunity to make operations like `>`, `<` `==` ...

billboard_data.date_entered = billboard_data.date_entered.apply(lambda x: pd.to_datetime(x))

In [256]:
# Convert into integer(whole number), because placement cannot be float

billboard_data['placement'] = billboard_data.placement.astype('int64')

In [257]:
# Convert time into seconds
def turn_time_into_seconds(time):
    minutes, seconds = [int(x) for x in time.split(":")]
    minutes *= 60
    seconds += minutes
    return seconds

billboard_data['time'] = billboard_data.time.apply(turn_time_into_seconds)

In [275]:
billboard_data = billboard_data.rename(columns={'time': 'seconds'})

In [279]:
pd.Timedelta(2, 'w')

Timedelta('14 days 00:00:00')

In [297]:
# I calculate the date of recieveing placement since i know the date released of the track
intervals = billboard_data.week.apply(lambda x: pd.Timedelta(x, "w"))
# I simply get for every week days according (1w == 7days, 2w == 14days)

# I calcucate the day of recieving th placement here
billboard_data['date'] = billboard_data['date_entered'] + intervals

# I drop these columns since i dont need them anymore
billboard_data = billboard_data.drop(columns=['date_entered', 'week'])

In [299]:
billboard_data

,year,artist,track,seconds,placement,date
0,2000,2 Pac,Baby Don't Cry (Keep...,262,87,2000-03-04
1,2000,2Ge+her,The Hardest Part Of ...,195,91,2000-09-09
2,2000,3 Doors Down,Kryptonite,233,81,2000-04-15
3,2000,3 Doors Down,Loser,264,76,2000-10-28
4,2000,504 Boyz,Wobble Wobble,215,57,2000-04-22
...,...,...,...,...,...,...
19716,2000,Creed,Higher,316,50,2000-11-25
19833,2000,Lonestar,Amazed,265,45,2000-08-19
20033,2000,Creed,Higher,316,50,2000-12-02
20150,2000,Lonestar,Amazed,265,50,2000-08-26
20350,2000,Creed,Higher,316,49,2000-12-09

In [ ]:
# Bih mogul da otdelq year, artist, track v otdelni tablici i da gi svurja s id-ta poneje ima povtoreniq